header {
    display: flex;
    justify-content: center;
    background: linear-gradient(#e14141, #e18941);
    padding: 15px;
}

.five{
    background: linear-gradient(#e14141, #e18941);
}

#cityInput {
    width: 300px;
    height: 50px;
    border-radius: 5px;
    padding: 10px;
}

.btnsearch {
    width: 300px;
    background: linear-gradient(#414ce1, #8641e1);
    color: white;
    margin-top: 15px;
    border-radius: 5px;
    padding: 10px;
}

#searchTitle {
    font-size: 2em;
    font-weight: bold;
    padding: 10px;
}

.lineBreak {
    border-bottom: 2px solid grey;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 300px;
}

.cityNames {
    width: 300px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: darkgray;
    border-radius: 10px;
}

#response-container {
    margin-bottom: 15px;
}

.card {
    width: 100%;
    padding: 10px;
}

.info {
    margin-top: 7px;
    display: block;
}

.cityInfo {
    font-size: 20px;
    font-weight: 700;
}

.weatherbox {
    padding: 15px;
}

.day {
    background: linear-gradient(#e14141, #e18941);
    color: white;
    padding: 15px;
    margin-right: 20px;
}